<div id="modal" >
  
  <!-- Modal -->
  <div class="disappear fixed inset-0 z-100 flex items-center justify-center overflow-auto bg-opacity-90" 
    
    >



    <!-- Modal inner -->
    <div class="w-screen h-[calc(100vh-200px)] flex justify-end items-end text-left relative">
      <!-- Title / Close-->
    
      <!-- content -->
      <div  class=" flex w-screen h-[calc(100vh-100px)]  flex-col gap-y-[50px]"
      >
        
        <div class="flex flex-col justify-center items-center gap-y-[30px] absolute top-1/2 left-1/2 px-12 md:px-44 transform -translate-x-1/2 -translate-y-1/2 w-full mt-[40px] disappear">
          <div id="welcomelogo" class=" min-w-[240px] max-w-[940px]">
            <img class="min-w-[240px]" src="/assets/logos/bigLogo.png" alt="" >
          </div>

          <div class="disappear flex flex-col items-center justify-center gap-y-[50px] w-full">
            <p id="welcome_text" style="font-family: 'bodoniBold';" class="text-3xl text-center">A digital archive of rural stories inspired by the last 100 years</p>
            <button id="exploreBtn" class=" uppercase py-[20px] px-[30px] max-w-max bg-pinky rounded-full relative group overflow-hidden hover:bg-mustard shortTrans">
          
              <p class="text-darkestBlue text-normal font-manrope font-extrabold opacity-0">Explore the stories</p>

              <p class="font-bold transform -translate-y-1/2 group-hover:-translate-y-12 group-hover:opacity-0 shortTrans absolute top-1/2 text-darkestBlue">Explore the stories</p>

              <p class="font-bold transform opacity-0 group-hover:opacity-100 translate-y-12 group-hover:-translate-y-1/2  shortTrans absolute top-1/2 text-darkestBlue">Explore the stories</p>

          </button>
          
          </div>
          
        </div>


      </div>

    </div>
  </div>
</div>
