
    <div class="absolute top-[15%] left-[20%]">
        <img class="gif shortTrans mix-blend-screen w-[142px]" src="/assets/placeholders/gifs/orangeBubble.gif"
            alt="">
    </div>

    <div class="absolute top-[13%] left-[75%]">
        <img class="gif shortTrans mix-blend-screen w-[215px]" src="/assets/placeholders/gifs/greenBubble.gif"
            alt="">
    </div>

    <div class="absolute top-[50%] left-[0%]">
        <img class="gif shortTrans mix-blend-screen w-[196px]" src="/assets/placeholders/gifs/yellowScribble.gif"
            alt="">
    </div>

    <div class="absolute top-[65%] right-[5%]">
        <img class="gif shortTrans mix-blend-screen w-[196px]" src="/assets/placeholders/gifs/blobs.gif" alt="">
    </div>

    <div class="absolute top-[40%] right-[5%]">
        <img class="gif shortTrans opacity-40 mix-blend-screen w-[196px]"
            src="/assets/placeholders/gifs/linesTopRight.gif" alt="">
    </div>

    <div class="absolute top-[35%] left-[10%]">
        <img style="-webkit-transform: scaleX(-1); transform: scaleX(-1);"
            class=" gif shortTrans mix-blend-screen w-[196px] opacity-40"
            src="/assets/placeholders/gifs/linesTopLeft.gif" alt="">
    </div>

    <div class="absolute bottom-[10%] left-[10%]">
        <img class="gif shortTrans opacity-40 mix-blend-screen w-[196px] rotate-180"
            src="/assets/placeholders/gifs/linesBottomLeft.gif" alt="">
    </div>