
<div style="background-image: url('/assets/placeholders/homeBGsoftedge.png'); background-repeat: no-repeat; background-size: contain; background-position: center; "
    class="absolute w-full h-screen">
    {{ partial:components/gifs }}
    <div id="mapBG"
    style="background-image: url('/assets/placeholders/Map-WOPeople.png'); background-repeat: no-repeat; background-size: contain; background-position: center;"
    class="h-screen w-full absolute opacity-10 ">
        <div id="app" data-csrf-token="{{ csrf_token }}" class="z-100 relative" ></div>
    </div>

</div>