<div id="nav" class="navShow px-[40px] py-[20px] md:flex hidden justify-between items-center w-screen  absolute z-101  top-0 h-[104px] {{if shownav == "true"}}opacity-100 {{/if}}">



  <div class="absolute px-[40px] h-[104px] top-0 left-0 flex justify-between items-center w-full">

    <div class="flex flex-1 navShow {{if shownav != "true"}} -translate-y-4 opacity-0 {{else}}opacity-100 {{/if}}">
      <button id="navLogo" class="  longTrans">
        {{ partial:components/heroLogo }}
      </button>
    </div>
    <div class="flex navShow {{if shownav != "true"}} -translate-y-4 opacity-0 {{else}}opacity-100 {{/if}}">
      <ul class="flex gap-x-[20px] items-center text-white navItem">

        {{ nav:main_nav }}

          {{ if !title | contains:privacy }}
            <a href="{{ url }}"
              class="py-[5px] px-[20px] rounded-full uppercase {{ if is_current || is_parent }}bg-darkBlue{{ else }} bg-transparent {{ /if }} shortTrans group flex flex-col overflow-hidden relative hover:bg-darkBlue">
              
              <p class="font-bold opacity-0">{{ title }}</p>

              <p class="font-bold transform group-hover:-translate-y-12 group-hover:opacity-0 shortTrans absolute">{{ title }}</p>

              <p class="font-bold transform opacity-0 group-hover:opacity-100 translate-y-12 group-hover:translate-y-0  shortTrans absolute text-pinky">{{ title }}</p>
              
            </a>
          {{ /if }}

        {{ /nav:main_nav }}

      </ul>
    </div>
  </div>

</div>


<!--MOBILE NAV-->
<div class="flex w-full justify-center items-center md:hidden absolute z-10 mt-4 px-4" x-data="{navigationOpen: false}">
  <div class="overflow-hidden flex items-center text-primary container px-4">

      <div
        class="flex lg:py-0 fixed w-full left-0 top-0 bottom-0 overflow-x-auto bg-darkestBlue transform transition-all duration-300 origin-top-left h-screen z-50"
        @click.away="navigationOpen = false" x-show="navigationOpen" x-transition:enter-start="transform duration-500 translate-x-full"

        x-transition:leave-end="transform  duration-500 translate-x-full">
        <div class="flex flex-col gap-y-12 text-primary px-[40px] mt-[80px] pb-20 w-full overflow-auto">

          <ul class="flex mt-4 flex-col items-center text-center gap-y-10 text-3xl navItem">

            {{ nav:main_nav }}

              <a href="{{ url }}" class="transition {{ if is_current || is_parent }}underline{{ /if }}">{{ title }}</a>

            {{ /nav:main_nav }}

          </ul>


        </div>

        <div @click="navigationOpen = !navigationOpen"
                class="absolute top-10 right-10 text-white cursor-pointer videoCloseBtn bg-seaGreen hover:bg-darkBlue shortTrans px-[10px] rounded-full transform group">
                <p class="text-2.6xl transform group-hover:rotate-180 shortTrans">&times;</p>
        </div>

        <!--MOBILE MENU CLOSE BUTTON-->
        
        <!--MOBILE MENU CLOSE BUTTON-->


      </div>

      <div class="flex w-full flex-1">
        <a href="/">
          {{ partial:components/heroLogo }}
        </a>
      </div>

      <!--MOBILE MENU BUTTON-->
      <button class="flex focus:outline-none group" @click="navigationOpen = !navigationOpen">
        <svg viewBox="0 0 100 80" width="40" height="40"
          class="fill-current text-darkPurple group-hover:text-seaGreen transition">
          <rect width="100" height="10"></rect>
          <rect y="30" width="100" height="10"></rect>
          <rect y="60" width="100" height="10"></rect>
        </svg>
      </button>
      <!--END OF // MOBILE MENU BUTTON-->


  </div>
</div>
<!--END OF // MOBILE NAV-->

