<!--PLAY VIDEO BUTTON AND MODAL-->
    {{ if hero_video }}
    <div x-cloak x-data="{ video: false }">
        <div x-show="video"
            class="w-screen h-screen absolute bg-black/[0.7] flex justify-center items-center z-101 videoWrapper">

            <div @click="video = false"
                class="absolute top-10 right-10 text-white cursor-pointer videoCloseBtn bg-seaGreen hover:bg-darkBlue shortTrans px-[10px] rounded-full transform group">
                <p class="text-2.6xl transform group-hover:rotate-180 shortTrans">&times;</p>
            </div>

            <div @click.away="video = false" class="w-full h-[60vh] px-[40px]">
                {{ if hero_video:video | is_embeddable }}
                <!-- Youtube and Vimeo -->
                <iframe class="w-full h-full" src="{{ hero_video:video | embed_url }}" ...></iframe>
                {{ else }}
                <!-- Other HTML5 video types -->
                <video id="video" class="w-full h-full" src="{{ hero_video:video | embed_url }}" ...></video>
                {{ /if }}
            </div>
        </div>

        <button @click="video = true" id="videobutton" class="bg-seaGreen rounded-full absolute z-100 bottom-10 left-10 flex justify-center items-center w-[132px] h-[132px] cursor-pointer hover:bg-darkBlue shortTrans group
            {{ if slug | contains:about }} hidden {{ elseif slug | contains:take }} hidden {{ /if }}">
            <svg class="spin" width="98" height="98" viewBox="0 0 98 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M51.5999 11.6015L53.1342 0L57.9796 0.654917C58.0912 0.669997 58.2392 0.695475 58.4237 0.731351C58.6143 0.762574 58.7822 0.801667 58.9274 0.84863C59.5985 1.04869 60.1289 1.35272 60.5183 1.76072C60.9131 2.16945 61.179 2.65368 61.3159 3.21342C61.4535 3.76779 61.4793 4.36993 61.3933 5.01983C61.3074 5.66973 61.123 6.24619 60.8401 6.7492C60.5633 7.24756 60.1814 7.6415 59.6942 7.93101C59.2124 8.22125 58.6243 8.37411 57.9301 8.38962C57.7785 8.391 57.6063 8.38413 57.4137 8.36902C57.221 8.35391 57.0715 8.33917 56.9652 8.32481L54.2875 7.96288L53.7676 11.8945L51.5999 11.6015ZM54.5582 5.9165L57.1402 6.26551C57.2518 6.28059 57.3747 6.29173 57.509 6.29894C57.6432 6.30615 57.7682 6.30119 57.8841 6.28404C58.1869 6.24297 58.4305 6.13921 58.6147 5.97277C58.7997 5.80095 58.9367 5.60352 59.0257 5.38046C59.1207 5.15275 59.182 4.93416 59.2097 4.72469C59.2374 4.51521 59.2347 4.29069 59.2015 4.05112C59.1743 3.80689 59.0934 3.58001 58.9589 3.37048C58.8251 3.15558 58.6174 2.9881 58.3358 2.86804C58.2285 2.82073 58.1092 2.78273 57.9778 2.75403C57.8464 2.72534 57.7249 2.70345 57.6133 2.68837L55.0313 2.33937L54.5582 5.9165Z"
                    fill="#FFC0AF" />
                <path
                    d="M36.9723 10.4633C37.3944 10.5441 37.8215 10.5118 38.2538 10.3664C38.6607 10.2295 39.0015 10.0035 39.2763 9.68836C39.5494 9.36807 39.7301 8.99889 39.8185 8.58082C39.9068 8.16275 39.8791 7.7352 39.7353 7.29815C39.5897 6.85596 39.3577 6.49426 39.0392 6.21306C38.7207 5.93185 38.358 5.7483 37.9513 5.66239C37.5445 5.57649 37.1377 5.60196 36.7308 5.73883C36.2985 5.88424 35.9399 6.11624 35.6549 6.43481C35.37 6.75338 35.1783 7.12341 35.0797 7.5449C34.9863 7.96468 35.0123 8.39566 35.1578 8.83785C35.3017 9.2749 35.5354 9.63317 35.859 9.91266C36.1826 10.1922 36.5537 10.3757 36.9723 10.4633Z"
                    fill="#FFC0AF" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M24.4681 21.2465C23.6502 22.075 22.7658 22.6104 21.8146 22.8528C20.8673 23.0913 19.9122 23.0501 18.9491 22.7292C17.9899 22.4045 17.0853 21.8134 16.2355 20.9559C15.3856 20.0985 14.7992 19.1852 14.476 18.2161C14.1567 17.2432 14.1141 16.2776 14.3481 15.3194C14.5859 14.3574 15.1138 13.4622 15.9317 12.6337C16.7495 11.8053 17.6321 11.2718 18.5795 11.0332C19.5306 10.7909 20.4857 10.8321 21.445 11.1568C22.408 11.4777 23.3144 12.0669 24.1643 12.9243C25.0141 13.7818 25.5987 14.697 25.9181 15.6699C26.2412 16.639 26.2838 17.6046 26.046 18.5666C25.8119 19.5247 25.286 20.418 24.4681 21.2465ZM23.0112 19.7766C23.5376 19.2588 23.8573 18.7086 23.9704 18.1261C24.0836 17.5435 24.0129 16.9516 23.7583 16.3503C23.5076 15.7451 23.0976 15.1555 22.5285 14.5813C21.9595 14.0071 21.3792 13.5977 20.7876 13.353C20.1999 13.1046 19.618 13.0381 19.042 13.1536C18.4661 13.2692 17.9149 13.5858 17.3886 14.1036C16.8622 14.6215 16.5425 15.1716 16.4294 15.7542C16.3162 16.3367 16.385 16.9305 16.6358 17.5357C16.8903 18.137 17.3021 18.7248 17.8712 19.299C18.4403 19.8732 19.0187 20.2845 19.6065 20.533C20.198 20.7776 20.7817 20.8421 21.3577 20.7266C21.9337 20.6111 22.4849 20.2944 23.0112 19.7766Z"
                    fill="#FFC0AF" />
                <path
                    d="M5.87408 26.3114L15.9298 32.1128L19.6758 25.4768L17.9021 24.4535L15.24 29.1693L12.6563 27.6787L14.8401 23.81L13.0664 22.7867L10.8826 26.6554L8.73176 25.4145L11.3938 20.6987L9.62011 19.6754L5.87408 26.3114Z"
                    fill="#FFC0AF" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.4443 42.474L1.23426 39.5469L2.17123 35.8794C2.19402 35.7903 2.24353 35.6073 2.31976 35.3306C2.396 35.0539 2.48252 34.791 2.57935 34.5421C2.92157 33.6576 3.43327 32.9657 4.11445 32.4664C4.79563 31.967 5.57806 31.6564 6.46174 31.5346C7.34543 31.4127 8.26214 31.4758 9.21189 31.7238C10.1616 31.9718 10.9939 32.3654 11.7087 32.9046C12.4235 33.4438 12.9593 34.0986 13.316 34.869C13.6728 35.6394 13.7891 36.4952 13.6649 37.4366C13.6303 37.7018 13.5801 37.9742 13.5143 38.2536C13.4484 38.533 13.4041 38.7173 13.3813 38.8065L12.4443 42.474ZM11.0064 39.7815L11.3884 38.2862C11.4246 38.1445 11.4709 37.9523 11.5274 37.7096C11.5787 37.4655 11.611 37.2417 11.6242 37.0381C11.6516 36.5192 11.5258 36.0582 11.2468 35.6551C10.9691 35.2468 10.5973 34.9035 10.1315 34.6251C9.66691 34.3415 9.16737 34.1299 8.63281 33.9903C8.07231 33.844 7.52024 33.7838 6.97661 33.8097C6.43433 33.8305 5.94911 33.9528 5.52096 34.1768C5.09282 34.4008 4.77104 34.7394 4.55565 35.1924C4.46453 35.3757 4.38555 35.5873 4.3187 35.8273C4.25185 36.0673 4.20033 36.2582 4.16413 36.3998L3.78211 37.8951L11.0064 39.7815Z"
                    fill="#FFC0AF" />
                <path d="M0.409823 48.261L11.9854 48.497L12.0295 46.2865L0.453916 46.0505L0.409823 48.261Z"
                    fill="#FFC0AF" />
                <path
                    d="M12.7044 56.4023L2.06793 62.2474L1.61768 60.0174L10.3661 55.2256L0.450248 54.2355L0 52.0056L12.0516 53.1688L12.7044 56.4023Z"
                    fill="#FFC0AF" />
                <path
                    d="M15.3632 74.0231L19.13 71.1618L17.7969 69.3683L14.0302 72.2296L6.16448 73.2023L7.70039 75.2688L12.6912 74.6498L10.7142 79.3237L12.2501 81.3902L15.3632 74.0231Z"
                    fill="#FFC0AF" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M28.798 80.58L18.9006 87.6281L16.3229 85.6032L20.6334 74.1663L22.4111 75.5627L21.519 77.9501L24.9615 80.6543L27.0203 79.1835L28.798 80.58ZM18.887 84.9937L20.7637 79.9714L23.2183 81.8996L18.887 84.9937Z"
                    fill="#FFC0AF" />
                <path
                    d="M31.3977 94.8868L35.9685 84.1328L29.3792 81.2704L28.5729 83.1673L33.153 85.1568L29.3884 94.014L31.3977 94.8868Z"
                    fill="#FFC0AF" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M44.046 98L45.7886 86.4286L43.6266 86.0958L43.036 90.0172L40.3653 89.6062C40.2593 89.5899 40.1101 89.5724 39.9177 89.5537C39.7254 89.5351 39.5534 89.5251 39.4018 89.5237C38.7073 89.5264 38.1166 89.6684 37.6297 89.9498C37.1374 90.2303 36.7484 90.6171 36.4627 91.1103C36.1709 91.6081 35.9761 92.181 35.8785 92.8293C35.7809 93.4775 35.7959 94.08 35.9235 94.6368C36.0503 95.199 36.3074 95.688 36.6948 96.1039C37.0768 96.519 37.6016 96.8327 38.2691 97.0451C38.4134 97.0947 38.5805 97.1369 38.7705 97.1716C38.9544 97.2109 39.1019 97.239 39.2132 97.2562L44.046 98ZM40.1533 91.6619L42.7286 92.0583L42.1913 95.6262L39.616 95.2298C39.5047 95.2127 39.3836 95.1885 39.2528 95.1574C39.1219 95.1263 39.0032 95.0861 38.8968 95.0369C38.6175 94.9117 38.4128 94.7404 38.2829 94.5231C38.1521 94.3111 38.0754 94.0828 38.0526 93.8381C38.0237 93.5979 38.025 93.3734 38.0564 93.1645C38.0879 92.9555 38.1532 92.7381 38.2523 92.5122C38.3452 92.2908 38.4857 92.0959 38.6738 91.9275C38.861 91.7645 39.1064 91.6652 39.4099 91.6297C39.526 91.6147 39.6511 91.6121 39.7852 91.6217C39.9193 91.6314 40.042 91.6448 40.1533 91.6619Z"
                    fill="#FFC0AF" />
                <path
                    d="M65.8365 2.87983L61.4598 13.7161L68.0995 16.4569L68.8715 14.5455L64.2564 12.6404L67.8612 3.7156L65.8365 2.87983Z"
                    fill="#FFC0AF" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M68.6928 17.1362L78.4619 9.90748L81.0755 11.8846L76.9714 23.3989L75.1689 22.0353L76.018 19.632L72.5274 16.9914L70.4953 18.4998L68.6928 17.1362ZM78.5229 12.5412L76.7368 17.5972L74.2479 15.7144L78.5229 12.5412Z"
                    fill="#FFC0AF" />
                <path
                    d="M82.2434 23.4455L78.5287 26.3755L79.8938 28.1443L83.6085 25.2142L91.4554 24.0971L89.8826 22.0592L84.9037 22.7698L86.7964 18.0603L85.2236 16.0224L82.2434 23.4455Z"
                    fill="#FFC0AF" />
                <path
                    d="M85.2186 41.0151L95.7483 34.9755L96.2386 37.1968L87.5777 42.1486L97.5097 42.9563L98 45.1776L85.9295 44.236L85.2186 41.0151Z"
                    fill="#FFC0AF" />
                <path d="M97.6573 48.9294L86.0793 48.9061L86.075 51.117L97.6529 51.1402L97.6573 48.9294Z"
                    fill="#FFC0AF" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M85.729 54.9355L96.9899 57.6562L96.119 61.3402C96.0978 61.4298 96.0516 61.6136 95.9803 61.8917C95.9091 62.1698 95.8273 62.4342 95.735 62.6849C95.4087 63.5755 94.9095 64.2767 94.2374 64.7884C93.5653 65.3002 92.7886 65.6251 91.9073 65.7632C91.0259 65.9013 90.1082 65.855 89.1542 65.6245C88.2001 65.3941 87.3609 65.0158 86.6366 64.4898C85.9122 63.9638 85.3647 63.3189 84.9942 62.5553C84.6236 61.7916 84.4919 60.938 84.5993 59.9945C84.629 59.7287 84.6743 59.4555 84.7351 59.1749C84.796 58.8943 84.837 58.7092 84.8581 58.6196L85.729 54.9355ZM87.2151 57.6012L86.8601 59.1032C86.8264 59.2456 86.7836 59.4386 86.7315 59.6823C86.6846 59.9272 86.6563 60.1516 86.6467 60.3554C86.6287 60.8748 86.7627 61.3334 87.049 61.7313C87.3339 62.1344 87.7118 62.4708 88.1826 62.7406C88.6522 63.0156 89.1554 63.218 89.6924 63.3477C90.2555 63.4837 90.8085 63.5338 91.3516 63.4979C91.8934 63.4672 92.3764 63.3359 92.8004 63.1041C93.2245 62.8723 93.5401 62.5279 93.7473 62.0709C93.8351 61.886 93.9103 61.673 93.9728 61.4318C94.0353 61.1906 94.0834 60.9988 94.1171 60.8565L94.4721 59.3545L87.2151 57.6012Z"
                    fill="#FFC0AF" />
                <path
                    d="M92.5887 70.975L82.4304 65.3593L78.8043 72.063L80.5961 73.0536L83.173 68.2896L85.7831 69.7326L83.6691 73.6407L85.461 74.6313L87.5749 70.7231L89.7477 71.9242L87.1708 76.6882L88.9626 77.6788L92.5887 70.975Z"
                    fill="#FFC0AF" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M74.0886 76.3807C74.8915 75.5373 75.7662 74.9857 76.7128 74.7259C77.6557 74.47 78.6114 74.4937 79.5801 74.7968C80.545 75.1039 81.46 75.6783 82.3251 76.5199C83.1902 77.3616 83.7931 78.264 84.1335 79.227C84.4703 80.1939 84.5303 81.1585 84.3135 82.1208C84.093 83.087 83.5813 83.9918 82.7785 84.8352C81.9757 85.6785 81.1028 86.2282 80.1599 86.484C79.2133 86.7438 78.2576 86.7202 77.2927 86.4131C76.324 86.11 75.4071 85.5376 74.542 84.6959C73.6769 83.8542 73.076 82.9499 72.7392 81.983C72.3987 81.02 72.3387 80.0554 72.5592 79.0892C72.776 78.1268 73.2858 77.224 74.0886 76.3807ZM75.5717 77.8236C75.0548 78.351 74.745 78.9069 74.6423 79.4914C74.5397 80.0759 74.621 80.6665 74.8863 81.263C75.1479 81.8635 75.5684 82.4455 76.1477 83.0092C76.727 83.5728 77.3146 83.9715 77.9104 84.2052C78.5025 84.4428 79.0855 84.4986 79.6593 84.3725C80.2331 84.2464 80.7785 83.9197 81.2954 83.3923C81.8124 82.8649 82.1222 82.3089 82.2248 81.7244C82.3274 81.1399 82.248 80.5474 81.9864 79.9469C81.7211 79.3504 81.2988 78.7703 80.7194 78.2067C80.1401 77.643 79.5544 77.2424 78.9623 77.0048C78.3665 76.771 77.7817 76.7172 77.2079 76.8433C76.634 76.9694 76.0886 77.2962 75.5717 77.8236Z"
                    fill="#FFC0AF" />
                <path
                    d="M61.7803 87.3917C61.3569 87.3187 60.9304 87.3589 60.5008 87.5122C60.0964 87.6566 59.7597 87.8888 59.4906 88.2089C59.2234 88.5342 59.0493 88.9066 58.9685 89.3262C58.8876 89.7459 58.9231 90.1729 59.0747 90.6072C59.2282 91.0466 59.4667 91.404 59.7902 91.6793C60.1137 91.9546 60.4796 92.1315 60.8878 92.2099C61.2961 92.2883 61.7024 92.2554 62.1067 92.1111C62.5363 91.9577 62.8907 91.7192 63.1699 91.3954C63.4491 91.0717 63.6341 90.6982 63.7251 90.2749C63.811 89.8535 63.7772 89.4231 63.6237 88.9836C63.472 88.5493 63.2319 88.1954 62.9034 87.9219C62.5748 87.6484 62.2004 87.4717 61.7803 87.3917Z"
                    fill="#FFC0AF" />
            </svg>
            <svg class="absolute transform top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:rotate-360 origin-center longTrans"
                width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M20.3645 10.5182C21.6978 11.288 21.6978 13.2125 20.3645 13.9823L3.8645 23.5086C2.53117 24.2784 0.864503 23.3161 0.864503 21.7765V2.72396C0.864503 1.18436 2.53117 0.222113 3.8645 0.991914L20.3645 10.5182Z"
                    fill="#FEF9E8" />
            </svg>
        </button>
    </div>
    {{ /if }}
    <!--END OF // PLAY VIDEO BUTTON AND MODAL-->