<div class="bg-nearBlackBlue py-[50px] w-screen flex justify-center items-center">
  <div>
    <ul class="flex flex-col justify-center items-center md:flex-row gap-x-[30px] gap-y-[30px]">
      <li class="text-cream font-manrope text-normal">&copy; Rural Voices 2022</li>
      <li class="hidden md:flex">|</li>
      <li><a href="privacy-policy" class="text-cream font-manrope text-normal">Privacy Policy</a></li>
      <li class="hidden md:flex">|</li>
      <li><span>Website by </span><a href="https://reflex-studios.com" target="_blank" class="text-cream font-manrope text-normal hover:text-pink-500 shortTrans">Reflex Studios</a></li>
    </ul>
  </div>
</div>