<div class="flex gap-x-[20px] gap-y-[20px] flex-wrap justify-center items-center mt-[50px]">

  {{ funders }}
  <div class="w-[100px] h-[100px] p-[10px] flex justify-center items-center rounded-full bg-cream">
    <div style="background-image: url('{{ funder_logo }}{{ url }}{{ /funder_logo }}'); background-repeat: no-repeat; background-size: contain; background-position: center;" class="w-[100px] h-[100px]"></div>
  </div>
  {{ /funders }}


  

</div>