<div class="flex gap-x-[60px] gap-y-[60px] max-w-[1200px] justify-center flex-wrap items-stretch mt-[120px]">

  {{ instruction }}
  <div class="bg-darkBlue  min-w-[360px] w-[calc(33%-60px)] p-[40px] flex flex-col justify-center items-center">
    <h6 class="mb-[20px]">Step {{ index | add:1 }}</h6>
    <div class="text-center font-manrope leading-thirtyseven font-normal">
      {{ text }}
    </div>
  </div>
  {{ /instruction }}


</div>