<!--STORY DETAIL-->
<div style="overflow: scroll;" x-show="showDetail" id="storyDetail"
  class="max-w-[838px] px-[20px] py-[55px] bg-darkerCream h-full z-40 fixed top-0 storyDetail"
  x-transition:enter="transition duration-1000" 
  x-transition:enter-start="transform translate-x-[100rem]"
  x-transition:enter-end="transform translate-x-0" 
  x-transition:leave="transition duration-1000"
  x-transition:leave-start="transform" 
  x-transition:leave-end="transform translate-x-[100rem]">

  <!--CLOSE BTN-->
  <svg  @click="showDetail = false" class="cursor-pointer closeBtn absolute top-[20px] right-[20px]" width="16" height="16"
    viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M1.85806 1.70306e-05L0.443848 1.41423L6.8078 7.77818L0.443848 14.1421L1.85806 15.5563L8.22201 9.1924L14.586 15.5564L16.0002 14.1422L9.63623 7.77818L16.0002 1.41421L14.586 0L8.22201 6.36397L1.85806 1.70306e-05Z"
      fill="#404085" />
  </svg>

  <div class="flex justify-center flex-col items-center ">

    <h1 class="text-center text-darkBlue">{{ title }}</h1>

    

    <!--MAIN AUDIO BUTTON-->
    <div class="mt-[40px]">

      <div
        class="audio_btn cursor-pointer flex justify-center rounded-full max-w-max items-center gap-x-[10px] w-[300px]"
        x-data="{ open: false }" :class="open ? 'bg-darkBlue' : 'bg-pinky'">
        
        <audio id="player-{{ slug }}{{index}}" src="{{ main_audio }}"> </audio>


        <div class="cursor-pointer flex px-[28px] py-[18px]" 
        @click="open = true"  
        @click.away="open = false" 
        x-show="!open"
          onclick="document.getElementById('player-{{ slug }}{{index}}').play()">
          <div class="relative  w-[29px] h-[29px] ">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 30 30" style=" fill:#404085;">
              <path
                d="M 6.984375 3.9863281 A 1.0001 1.0001 0 0 0 6 5 L 6 25 A 1.0001 1.0001 0 1 0 8 25 L 8 5 A 1.0001 1.0001 0 0 0 6.984375 3.9863281 z M 22.984375 3.9863281 A 1.0001 1.0001 0 0 0 22 5 L 22 25 A 1.0001 1.0001 0 1 0 24 25 L 24 5 A 1.0001 1.0001 0 0 0 22.984375 3.9863281 z M 2.984375 7.9863281 A 1.0001 1.0001 0 0 0 2 9 L 2 21 A 1.0001 1.0001 0 1 0 4 21 L 4 9 A 1.0001 1.0001 0 0 0 2.984375 7.9863281 z M 10.984375 8.9863281 A 1.0001 1.0001 0 0 0 10 10 L 10 20 A 1.0001 1.0001 0 1 0 12 20 L 12 10 A 1.0001 1.0001 0 0 0 10.984375 8.9863281 z M 18.984375 8.9863281 A 1.0001 1.0001 0 0 0 18 10 L 18 20 A 1.0001 1.0001 0 1 0 20 20 L 20 10 A 1.0001 1.0001 0 0 0 18.984375 8.9863281 z M 26.984375 10.986328 A 1.0001 1.0001 0 0 0 26 12 L 26 18 A 1.0001 1.0001 0 1 0 28 18 L 28 12 A 1.0001 1.0001 0 0 0 26.984375 10.986328 z M 14.984375 11.986328 A 1.0001 1.0001 0 0 0 14 13 L 14 17 A 1.0001 1.0001 0 1 0 16 17 L 16 13 A 1.0001 1.0001 0 0 0 14.984375 11.986328 z">
              </path>
            </svg>
          </div>
          <p class="ml-4 uppercase text-darkBlue font-manrope font-bold transition -mt-1">Listen to the story</p>
        </div>


        <div class="cursor-pointer flex px-[28px] py-[18px]" @click="open = false" @click.away="open = false" x-show="open"
          onclick="document.getElementById('player-{{ slug }}{{index}}').pause()">
          <div class="relative  w-[29px] h-[29px] ">
            <img width="32" src="/assets/placeholders/gifs/ezgif.com-gif-maker.gif"
              alt="">
          </div>
          <p class="ml-4 uppercase text-pinky font-manrope font-bold transition -mt-1">Pause</p>
        </div>


      </div>
    </div>
    <!--END OF // MAIN AUDIO BUTTON-->


    <div class="flex items-center mt-[40px]">
      <svg class="mr-1" width="12" height="16" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M4.63859 0.556396C2.08088 0.556396 0 2.63727 0 5.19504C0 6.48813 0.707035 8.04991 2.10152 9.83706C3.0975 11.1135 4.0818 12.0365 4.12323 12.0752L4.63865 12.5564L5.15406 12.0752C5.19549 12.0365 6.17979 11.1135 7.17577 9.83706C8.57021 8.04991 9.27729 6.48813 9.27729 5.19504C9.27724 2.63727 7.19636 0.556396 4.63859 0.556396ZM4.63859 6.69571C3.81113 6.69571 3.13793 6.02251 3.13793 5.19504C3.13793 4.36758 3.81113 3.69437 4.63859 3.69437C5.46606 3.69437 6.13926 4.36758 6.13926 5.19504C6.13926 6.02251 5.46606 6.69571 4.63859 6.69571Z"
          fill="#404085" />
      </svg>
      <p class="text-darkBlue text-1xs font-manrope">{{ town }}, Co. {{ county | ucfirst }}</p>

      <p class="text-darkBlue text-1xs font-manrope ml-2">|  Age {{ age }}</p>
    </div>





    <!--CAROUSEL-->
    <div class=" relative flex w-full items-center my-[80px] h-[314px] px-[40px]">

      {{ images }}

      
      <div
      class="h-full w-1/2 transform flex justify-center items-center 
      {{ if index == 0 }}rotate-minus20 {{ /if }} 
      {{ if index == 2 }}rotate-20{{ /if }}
      {{ if index == 1 }}absolute w-max z-50 scale-110 left-1/2 -translate-x-1/2{{ /if }}">

      <img class="max-h-[314px] shadow-xl" src="{{ url }}" alt="">

      

      </div>


      {{ /images }}


    </div>
    <!--END OF // CAROUSEL-->





    <!--CONTENT-->
    <div class="px-[40px] {{ if !images}} mt-[40px] {{ /if }}">

      <div class="text-center content text-darkBlue">
        {{ content }}
      </div>

      <div class="mt-[80px]">
        <h3 class="mb-[40px] text-darkBlue">Highlights</h3>

        <div class="flex flex-col gap-y-[20px]">

          <!--AUDIO HIGHLIGHTS-->
          {{ audio_highlights }}
          <div class="bg-cream p-[40px] rounded flex">

            <div class="mr-4">
              <h5 class="text-darkBlue">{{ audio_highlight_title }}</h5>
              <p class="text-darkBlue">{{ audio_highlight_text }}</p>
            </div>

            <div class="flex items-center">
              <!--AUDIO BUTTON-->
              <div
                class="audio_btn min-w-max rounded-full max-w-max items-center gap-x-[10px] cursor-pointer flex">
                <audio id="player-{{ slug }}{{index}}" src="{{ audio_highlight_file }}"> </audio>


                <div class="cursor-pointer flex px-[28px] py-[18px]" @click="open = true" x-show="!open"
                  onclick="document.getElementById('player-{{ slug }}{{index}}').play()">
                  <div class="relative  w-[29px] h-[29px] ">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 30 30" style=" fill:#404085;">
                      <path
                        d="M 6.984375 3.9863281 A 1.0001 1.0001 0 0 0 6 5 L 6 25 A 1.0001 1.0001 0 1 0 8 25 L 8 5 A 1.0001 1.0001 0 0 0 6.984375 3.9863281 z M 22.984375 3.9863281 A 1.0001 1.0001 0 0 0 22 5 L 22 25 A 1.0001 1.0001 0 1 0 24 25 L 24 5 A 1.0001 1.0001 0 0 0 22.984375 3.9863281 z M 2.984375 7.9863281 A 1.0001 1.0001 0 0 0 2 9 L 2 21 A 1.0001 1.0001 0 1 0 4 21 L 4 9 A 1.0001 1.0001 0 0 0 2.984375 7.9863281 z M 10.984375 8.9863281 A 1.0001 1.0001 0 0 0 10 10 L 10 20 A 1.0001 1.0001 0 1 0 12 20 L 12 10 A 1.0001 1.0001 0 0 0 10.984375 8.9863281 z M 18.984375 8.9863281 A 1.0001 1.0001 0 0 0 18 10 L 18 20 A 1.0001 1.0001 0 1 0 20 20 L 20 10 A 1.0001 1.0001 0 0 0 18.984375 8.9863281 z M 26.984375 10.986328 A 1.0001 1.0001 0 0 0 26 12 L 26 18 A 1.0001 1.0001 0 1 0 28 18 L 28 12 A 1.0001 1.0001 0 0 0 26.984375 10.986328 z M 14.984375 11.986328 A 1.0001 1.0001 0 0 0 14 13 L 14 17 A 1.0001 1.0001 0 1 0 16 17 L 16 13 A 1.0001 1.0001 0 0 0 14.984375 11.986328 z">
                      </path>
                    </svg>
                  </div>
                  <p class="ml-4 uppercase text-darkBlue font-manrope font-bold transition -mt-1">Listen</p>
                </div>


                <div class="cursor-pointer flex px-[28px] py-[18px]" @click="open = false" x-show="open"
                  onclick="document.getElementById('player-{{ slug }}{{index}}').pause()">
                  <div class="relative  w-[29px] h-[29px] ">
                    <img width="32"
                      src="/assets/placeholders/gifs/ezgif.com-gif-maker.gif"" alt="">
                  </div>
                  <p class="ml-4 uppercase text-pinky font-manrope font-bold transition -mt-1">Pause</p>
                </div>


              </div>
              <!--END OF // AUDIO BUTTON-->
            </div>

          </div>
          {{ /audio_highlights }}
          <!--END OF // AUDIO HIGHLIGHTS-->

        </div>

      </div>

    </div>
    <!--END OF // CONTENT-->


  </div>
</div>
<!--END OF // STORY DETAIL-->





<script>

  $(".closeBtn").click(function () {
      $('audio').each(function(){
        this.pause(); // Stop playing
        this.currentTime = 0; // Reset time
    }); 
  });



  personListWidth = $("#personList").width()
  storyDetailWidth = $(".storyDetail").width();

  $(".openBtn").click(function () {
    $(".storyDetail").css("right", 440);
  });
</script>