

{{ partial:components/nav shownav="true"}}
<div style="background-image: url('/assets/placeholders/homeBGsoftedge.png'); background-repeat: no-repeat; background-size: contain; background-position: center; "
    class="absolute top-0 w-full h-screen">
    {{ partial:components/gifs }}

      


</div>

  
<div id="content" class=" w-screen relative flex justify-center items-center pt-[50px] md:pt-[100px] pb-[280px] md:py-[220px] mt-[100px]">
  
    <div class="max-w-[720px] w-full md:px-0 px-[20px]">

      <div class="bardContent">
        {{ content }} 
        {{ if type == 'text' }}
          {{ text }}
          {{ elseif type == 'funders'}}
          {{ partial:components/funders }}
          {{ /if }}
        {{ /content }}
      </div>

    </div>

</div>


  
    <div class=" ">{{ partial:components/footer }}</div>
  </div>
