<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title ?? site:name }}</title>
    <link rel="shortcut icon" type="image/jpg" href="/assets/logos/favicon.png"/>
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    

    {{ captcha:head }}
</head>

<body
    style="background-image: url('/assets/placeholders/newBGTile.png'); background-repeat: repeat; background-size: 50%;"
    class="bg-darkBlue ">

    {{ template_content }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="{{ mix src='/js/site.js' }}"></script>
    <script src="https://unpkg.com/vue@3.0.5"></script>
    <script src="vue-kinesis.min.js"></script>
    <script src="{{ mix src='/js/people.js' }}"></script>

</body>


</html>