

{{ partial:components/nav shownav="true"}}
<div style="background-image: url('/assets/placeholders/homeBGsoftedge.png'); background-repeat: no-repeat; background-size: contain; background-position: center; "
    class="absolute top-0 w-full h-screen">
    {{ partial:components/gifs }}

      


</div>

<div id="content" class=" w-screen relative flex flex-col justify-center items-center  pt-[50px] md:pt-[100px] pb-[280px] md:py-[220px] px-[40px] mt-[100px]">

  

  
  

      <div class="bardContent flex flex-col items-center">
        {{ content }}
          {{ if type == 'text'}}
          <div class="max-w-[700px]">{{ text }}</div>
          {{ elseif type == "instructions" }}
          {{ partial:components/instructions }}
          {{ /if }}
        {{ /content }}
      </div>
    

    
      <div
        class="bg-darkBlue p-[40px] md:p-[80px] mt-[100px] md:mt-[200px] md:min-w-[860px] flex flex-col justify-center items-center formWrapper">
    
        <h3 class="takePartForm text-center">Send us your story</h3>
    
        <!--FORM THANK YOU MSG-->
        <div class="md:h-[calc(100vh-420px)] thankYouMsg flex flex-col hidden justify-center items-center">
          <h3 class="text-darkPurple text-center">Thank you for your submission.
          </h3>
          <h6>Be sure to check back to see if your story has been added.</h6>
        </div>
        <!--FORM THANK YOU MSG-->
        <!--LOADING GIF-->
        <div class="md:h-[calc(100vh-420px)] hidden loadingGif  items-center justify-center text-white">
          <img class="h-[40px] w-[40px]" src="/assets/placeholders/loading.gif" alt="">
        </div>
        <!--LOADING GIF-->
    
    
    
        {{ form:take_part id="takePartForm" enctype="multipart/form-data" }}
    
        <div class="flex flex-col gap-y-[20px] mt-[40px] w-full takePartForm">
    
          <div class="flex flex-col md:flex-row gap-y-[20px] gap-x-[20px] items-center justify-center w-full">
            <input class="bg-black/[0.25] p-[20px] text-white outline-none roundedCorners4 w-full" type="text"
              name="first_name" placeholder="First name">
            <input class="bg-black/[0.25] p-[20px] text-white outline-none roundedCorners4 w-full" type="text"
              name="surname" placeholder="Surname">
          </div>
    
          <div class="flex flex-col md:flex-row gap-y-[20px] gap-x-[20px] items-center justify-center w-full">
            <input class="bg-black/[0.25] p-[20px] text-white outline-none roundedCorners4 w-full" type="email" name="email"
              placeholder="Email address">
            <input class="bg-black/[0.25] p-[20px] text-white outline-none roundedCorners4 w-full" type="text" name="phone"
              placeholder="Telephone number">
          </div>
    
          <div class="flex flex-col md:flex-row gap-y-[20px] gap-x-[20px] items-center justify-center w-full">
            <input class="bg-black/[0.25] p-[20px] text-white outline-none roundedCorners4 w-full" type="text" name="county"
              placeholder="County">
            <input class="bg-black/[0.25] p-[20px] text-white outline-none roundedCorners4 w-full" type="text" name="town"
              placeholder="Town">
          </div>
    
          <div class=" flex gap-x-[20px] items-center justify-center w-full">
            <textarea rows="15" class="bg-black/[0.25] p-[20px] text-white outline-none roundedCorners4 w-full" type="text"
              name="message" placeholder="Tell us about your story"></textarea>
          </div>
    
    
          <!--FORM ERROR MSG-->
          <div class="pleaseCheckMsg w-full hidden text-center">
            <small class="text-red-500">*There may have been an error with the form inputs, captcha or the file you tried to
              upload. Please try again.</small>
          </div>
          <!--FORM ERROR MSG-->
    
          <div>
    
    
            <!--FILE UPLOAD HIDDEN FOR NOW-->
            <input type="file" name="file" id="file" class="file"
              accept="image/jpeg, image/png, application/pdf, image/x-eps, .doc, .docx,">
    
            <div class="flex flex-col md:flex-row justify-center md:justify-between items-center md:items-start">
    
              <div class="flex gap-x-[10px] items-center mb-4 md:mb-0">
    
                <div class="relative md:mt-4">
                  <svg class="absolute top-1/2 left-4 transform -translate-y-1/2" width="12" height="12" viewBox="0 0 12 12"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 0H7V12H5V0Z" fill="#FEF9E8" />
                    <path d="M0 5H12V7H0V5Z" fill="#FEF9E8" />
                  </svg>
                  <input type="button"
                    class="btn bg-black/[0.25] rounded-full text-white max-w-max pl-[40px] pr-[20px] py-[12px] uppercase font-manrope text-2xs font-bold cursor-pointer"
                    value="Upload File">
                </div>
    
                <input type="text" name="file-name" id="file-name" class="file-name" readonly="readonly">
              </div>
    
              <button
                class="rounded-full bg-pinky py-[20px] px-[30px] text-darkestBlue uppercase font-manrope font-bold min-w-max">Submit
                My
                Story</button>
    
    
            </div>
    
            <input id="token" type="hidden" name="_token" value="{{ csrf_token }}" />
    
            <!--FILE UPLOAD HIDDEN FOR NOW-->
    
    
    
            
            <div class="w-full flex justify-center md:justify-end mt-4">
              {{ captcha }}
            </div>
    
    
    
    
          </div>
    
        </div>
    
        {{ /form:take_part }}
    
    
      </div>

    </div>

</div>


  
<div class=" ">{{ partial:components/footer }}</div>
</div>









<script>

  $(document).ready(function () {
    $('.btn').on('click', function () {
      $('.file').trigger('click');
    });

    $('.file').on('change', function () {
      var fileName = $(this)[0].files[0].name;
      $('#file-name').val(fileName);
    });
  });


  /*AJAX FORM SUBMISSION (FORM MUST BE GIVEN AN ID)*/
  $(function () {
    var form = $('#takePartForm');

    $(form).submit(function (event) {
      event.preventDefault();

      var formData = new FormData(this);
      $.ajax({
        type: 'POST',
        url: $(form).attr('action'),
        headers: {
          'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        },
        data: formData,
        cache: false,
        contentType: false,
        processData: false

      }).done(function (response) {
        console.log('Form submitted!');

        $(".takePartForm").addClass('hidden');
        $(".getInTouchMsg").addClass('hidden');
        $(".loadingGif").addClass('flex').removeClass('hidden');
        $(".pleaseCheckMsg").addClass('hidden').removeClass('block');


        $('body,html').animate({
          scrollTop: 1262
        }, 800);


        setTimeout(function () {
          $('.thankYouMsg').removeClass('hidden').addClass('flex');
          $(".loadingGif").removeClass('flex').addClass('hidden');

        }, 3000);


      }).fail(function (data) {
        console.log('Form NOT submitted!', data);
        $(".pleaseCheckMsg").addClass('block').removeClass('hidden');
      });
    });
  });
    /*END OF // AJAX FORM SUBMISSION*/






</script>