<template>

<kinesis-container :perspective="1000" class="w-screen h-screen " >
  <Counties 
    @selected-county="selectedCounty"
    :countytitle="countytitle"
    :counties="counties"
  />
 
  <div v-show="showPeople"
      class="h-screen w-screen bg-black/[0.5] fixed right-0 z-50 countyWrapper z-100 relative"
      x-transition:enter="transition duration-1000" x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100" x-transition:leave="transition duration-1000"
      x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
      >
      
      <People 
      @show-person="showPerson"
      :countytitle="countytitle"
      :personID="personID"
      :people="people" 
      />
      
    
      <div v-show="showPersonDetails">
        <PersonDetails 
        @close-detail="closeDetail"
        :countytitle="countytitle"
        :setPerson="setPerson"
        :personID="personID"
        :changePerson="changePerson"
      
        />
      </div>
  </div> 
  </kinesis-container >
</template>

<script>
import Counties from './components/Counties'
import People from './components/People'
import PersonDetails from './components/PersonDetails'

export default {
  name: 'App',
  components: {
    Counties,
    People,
    PersonDetails,
  },
  data() {
    return {
      counties: [],
      people: [],
      setPerson: [],
      showPersonDetails: false,
      showPeople: false,
      personID: null,
      countytitle: "",
      showdetails: false,
      changePerson: false,
    }
  },
  methods: {



    closeDetail(id){
      this.showPersonDetails = false;
    },
    async showPerson(id){
      this.showPeople = id;
      this.personID = id;
      if(this.showPeople == false) {
          this.showPeople = false;
          this.showPersonDetails = false;
          document.body.classList.remove('people-open')
      } else {
          this.showPeople = true;
          this.showPersonDetails = true;
          this.setPerson = await this.fetchPerson(id)
      }
    },

    async selectedCounty(county){
      this.showPeople = true;
      this.countytitle = county.title;
      this.people = await this.fetchCounty(county.slug),
      document.body.classList.add('people-open')

    },

    async fetchCounties() {
      try {
        const res = await fetch('http://ruralvoices.test/api/collections/counties/entries'); // Get the data from the API
        const { data } = await res.json() // Convert it to JSON
        return data
      } catch (e) {
        console.log('ERRORS: ', e);
      }
    },

    async fetchCounty(slug) {
      try {
        const res = await fetch('http://ruralvoices.test/api/collections/stories/entries?filter[county:contains]=' + slug); // Get the data from the API
        const { data } = await res.json() // Convert it to JSON
        return data
      } catch (e) {
        console.log('ERRORS: ', e);
      }
    },

    async fetchPerson(id) {
      try {
        const res = await fetch('http://ruralvoices.test/api/collections/stories/entries/' + id); // Get the data from the API
        const { data } = await res.json() // Convert it to JSON
        return data
      } catch (e) {
        console.log('ERRORS: ', e);
      }
    },

  },
  async created(){
    this.counties = await this.fetchCounties()
  }
}
</script>




