/*! tailwindcss v2.2.19 | MIT License | https://tailwindcss.com *//*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, 
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}


/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

/**
 * Override legacy focus reset from Normalize with modern Firefox focus styles.
 *
 * This is actually an improvement over the new defaults in Firefox in our testing,
 * as it triggers the better focus styles even for links, which still use a dotted
 * outline in Firefox by default.
 */
 
:-moz-focusring {
	outline: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */

[hidden] {
  display: none;
}

*, ::before, ::after {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	--tw-ring-offset-shadow: 0 0 rgba(0,0,0,0);
	--tw-ring-shadow: 0 0 rgba(0,0,0,0);
	--tw-shadow: 0 0 rgba(0,0,0,0);
	--tw-blur: var(--tw-empty,/*!*/ /*!*/);
	--tw-brightness: var(--tw-empty,/*!*/ /*!*/);
	--tw-contrast: var(--tw-empty,/*!*/ /*!*/);
	--tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
	--tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
	--tw-invert: var(--tw-empty,/*!*/ /*!*/);
	--tw-saturate: var(--tw-empty,/*!*/ /*!*/);
	--tw-sepia: var(--tw-empty,/*!*/ /*!*/);
	--tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
	--tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

/* This is all you. */

.container {
	width: 100%;
}

@media (min-width: 640px) {

	.container {
		max-width: 640px;
	}
}

@media (min-width: 768px) {

	.container {
		max-width: 768px;
	}
}

@media (min-width: 1024px) {

	.container {
		max-width: 1024px;
	}
}

@media (min-width: 1280px) {

	.container {
		max-width: 1280px;
	}
}

@media (min-width: 1312px) {

	.container {
		max-width: 1312px;
	}
}

@media (min-width: 1536px) {

	.container {
		max-width: 1536px;
	}
}

.fixed {
	position: fixed;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.inset-0 {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.right-0 {
	right: 0px;
}

.top-0 {
	top: 0px;
}

.top-1\/2 {
	top: 50%;
}

.left-4 {
	left: 1rem;
}

.-top-16 {
	top: -4rem;
}

.top-\[20px\] {
	top: 20px;
}

.right-\[20px\] {
	right: 20px;
}

.left-1\/2 {
	left: 50%;
}

.top-\[15\%\] {
	top: 15%;
}

.left-\[20\%\] {
	left: 20%;
}

.top-\[13\%\] {
	top: 13%;
}

.left-\[75\%\] {
	left: 75%;
}

.top-\[50\%\] {
	top: 50%;
}

.left-\[0\%\] {
	left: 0%;
}

.top-\[65\%\] {
	top: 65%;
}

.right-\[5\%\] {
	right: 5%;
}

.top-\[40\%\] {
	top: 40%;
}

.top-\[35\%\] {
	top: 35%;
}

.left-\[10\%\] {
	left: 10%;
}

.bottom-\[10\%\] {
	bottom: 10%;
}

.left-0 {
	left: 0px;
}

.bottom-0 {
	bottom: 0px;
}

.top-10 {
	top: 2.5rem;
}

.right-10 {
	right: 2.5rem;
}

.bottom-10 {
	bottom: 2.5rem;
}

.left-10 {
	left: 2.5rem;
}

.z-50 {
	z-index: 50;
}

.z-100 {
	z-index: 100;
}

.z-30 {
	z-index: 30;
}

.z-40 {
	z-index: 40;
}

.z-101 {
	z-index: 101;
}

.z-10 {
	z-index: 10;
}

.z-102 {
	z-index: 102;
}

.my-\[80px\] {
	margin-top: 80px;
	margin-bottom: 80px;
}

.mt-\[100px\] {
	margin-top: 100px;
}

.mt-\[40px\] {
	margin-top: 40px;
}

.mb-4 {
	margin-bottom: 1rem;
}

.mt-4 {
	margin-top: 1rem;
}

.ml-4 {
	margin-left: 1rem;
}

.-mt-1 {
	margin-top: -0.25rem;
}

.mt-\[20px\] {
	margin-top: 20px;
}

.ml-\[20px\] {
	margin-left: 20px;
}

.mr-1 {
	margin-right: 0.25rem;
}

.ml-2 {
	margin-left: 0.5rem;
}

.mt-\[80px\] {
	margin-top: 80px;
}

.mb-\[40px\] {
	margin-bottom: 40px;
}

.mr-4 {
	margin-right: 1rem;
}

.mt-\[50px\] {
	margin-top: 50px;
}

.mt-\[120px\] {
	margin-top: 120px;
}

.mb-\[20px\] {
	margin-bottom: 20px;
}

.block {
	display: block;
}

.flex {
	display: flex;
}

.hidden {
	display: none;
}

.h-screen {
	height: 100vh;
}

.h-\[40px\] {
	height: 40px;
}

.h-\[29px\] {
	height: 29px;
}

.h-\[57px\] {
	height: 57px;
}

.h-full {
	height: 100%;
}

.h-\[314px\] {
	height: 314px;
}

.h-\[calc\(100vh-200px\)\] {
	height: calc(100vh - 200px);
}

.h-\[calc\(100vh-100px\)\] {
	height: calc(100vh - 100px);
}

.h-\[104px\] {
	height: 104px;
}

.h-\[60vh\] {
	height: 60vh;
}

.h-\[132px\] {
	height: 132px;
}

.h-\[100px\] {
	height: 100px;
}

.max-h-\[314px\] {
	max-height: 314px;
}

.w-screen {
	width: 100vw;
}

.w-full {
	width: 100%;
}

.w-\[40px\] {
	width: 40px;
}

.w-\[300px\] {
	width: 300px;
}

.w-\[29px\] {
	width: 29px;
}

.w-\[57px\] {
	width: 57px;
}

.w-\[142px\] {
	width: 142px;
}

.w-\[215px\] {
	width: 215px;
}

.w-\[196px\] {
	width: 196px;
}

.w-\[440px\] {
	width: 440px;
}

.w-\[132px\] {
	width: 132px;
}

.w-\[100px\] {
	width: 100px;
}

.w-\[calc\(33\%-60px\)\] {
	width: calc(33% - 60px);
}

.w-1\/2 {
	width: 50%;
}

.w-max {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
}

.w-8\/12 {
	width: 66.666667%;
}

.min-w-max {
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
}

.min-w-\[240px\] {
	min-width: 240px;
}

.min-w-\[360px\] {
	min-width: 360px;
}

.max-w-\[720px\] {
	max-width: 720px;
}

.max-w-\[700px\] {
	max-width: 700px;
}

.max-w-max {
	max-width: -webkit-max-content;
	max-width: -moz-max-content;
	max-width: max-content;
}

.max-w-\[calc\(100\%-90px\)\] {
	max-width: calc(100% - 90px);
}

.max-w-\[88\%\] {
	max-width: 88%;
}

.max-w-\[940px\] {
	max-width: 940px;
}

.max-w-\[290px\] {
	max-width: 290px;
}

.max-w-\[370px\] {
	max-width: 370px;
}

.max-w-\[1200px\] {
	max-width: 1200px;
}

.max-w-\[838px\] {
	max-width: 838px;
}

.flex-1 {
	flex: 1 1 0%;
}

.origin-top-left {
	transform-origin: top left;
}

.origin-center {
	transform-origin: center;
}

.translate-y-0 {
	--tw-translate-y: 0px;
	transform: var(--tw-transform);
}

.-translate-y-4 {
	--tw-translate-y: -1rem;
	transform: var(--tw-transform);
}

.translate-y-4 {
	--tw-translate-y: 1rem;
	transform: var(--tw-transform);
}

.-translate-y-48 {
	--tw-translate-y: -12rem;
	transform: var(--tw-transform);
}

.-translate-y-12 {
	--tw-translate-y: -3rem;
	transform: var(--tw-transform);
}

.-translate-y-1\/2 {
	--tw-translate-y: -50%;
	transform: var(--tw-transform);
}

.translate-x-full {
	--tw-translate-x: 100%;
	transform: var(--tw-transform);
}

.translate-x-0 {
	--tw-translate-x: 0px;
	transform: var(--tw-transform);
}

.translate-x-1 {
	--tw-translate-x: 0.25rem;
	transform: var(--tw-transform);
}

.translate-y-1 {
	--tw-translate-y: 0.25rem;
	transform: var(--tw-transform);
}

.translate-x-\[100rem\] {
	--tw-translate-x: 100rem;
	transform: var(--tw-transform);
}

.-translate-x-1\/2 {
	--tw-translate-x: -50%;
	transform: var(--tw-transform);
}

.translate-y-12 {
	--tw-translate-y: 3rem;
	transform: var(--tw-transform);
}

.rotate-180 {
	--tw-rotate: 180deg;
	transform: var(--tw-transform);
}

.rotate-minus20 {
	--tw-rotate: -20deg;
	transform: var(--tw-transform);
}

.rotate-20 {
	--tw-rotate: 20deg;
	transform: var(--tw-transform);
}

.scale-110 {
	--tw-scale-x: 1.1;
	--tw-scale-y: 1.1;
	transform: var(--tw-transform);
}

.transform {
	transform: var(--tw-transform);
}

.cursor-pointer {
	cursor: pointer;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.items-end {
	align-items: flex-end;
}

.items-center {
	align-items: center;
}

.items-stretch {
	align-items: stretch;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.gap-y-\[20px\] {
	grid-row-gap: 20px;
	row-gap: 20px;
}

.gap-x-\[20px\] {
	grid-column-gap: 20px;
	-moz-column-gap: 20px;
	     column-gap: 20px;
}

.gap-x-\[10px\] {
	grid-column-gap: 10px;
	-moz-column-gap: 10px;
	     column-gap: 10px;
}

.gap-y-\[50px\] {
	grid-row-gap: 50px;
	row-gap: 50px;
}

.gap-y-\[30px\] {
	grid-row-gap: 30px;
	row-gap: 30px;
}

.gap-y-12 {
	grid-row-gap: 3rem;
	row-gap: 3rem;
}

.gap-y-10 {
	grid-row-gap: 2.5rem;
	row-gap: 2.5rem;
}

.gap-x-\[30px\] {
	grid-column-gap: 30px;
	-moz-column-gap: 30px;
	     column-gap: 30px;
}

.gap-x-\[60px\] {
	grid-column-gap: 60px;
	-moz-column-gap: 60px;
	     column-gap: 60px;
}

.gap-y-\[60px\] {
	grid-row-gap: 60px;
	row-gap: 60px;
}

.overflow-auto {
	overflow: auto;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-scroll {
	overflow: scroll;
}

.overflow-x-auto {
	overflow-x: auto;
}

.rounded-full {
	border-radius: 9999px;
}

.rounded {
	border-radius: 0.25rem;
}

.bg-black\/\[0\.5\] {
	background-color: rgba(0, 0, 0, 0.5);
}

.bg-darkBlue {
	--tw-bg-opacity: 1;
	background-color: rgba(64, 64, 133, var(--tw-bg-opacity));
}

.bg-black\/\[0\.25\] {
	background-color: rgba(0, 0, 0, 0.25);
}

.bg-pinky {
	--tw-bg-opacity: 1;
	background-color: rgba(253, 183, 165, var(--tw-bg-opacity));
}

.bg-black {
	--tw-bg-opacity: 1;
	background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.bg-cream {
	--tw-bg-opacity: 1;
	background-color: rgba(254, 249, 232, var(--tw-bg-opacity));
}

.bg-darkerCream {
	--tw-bg-opacity: 1;
	background-color: rgba(242, 226, 208, var(--tw-bg-opacity));
}

.bg-redy {
	--tw-bg-opacity: 1;
	background-color: rgba(219, 88, 88, var(--tw-bg-opacity));
}

.bg-lighterBlue {
	--tw-bg-opacity: 1;
	background-color: rgba(122, 120, 180, var(--tw-bg-opacity));
}

.bg-transparent {
	background-color: transparent;
}

.bg-darkestBlue {
	--tw-bg-opacity: 1;
	background-color: rgba(29, 29, 60, var(--tw-bg-opacity));
}

.bg-seaGreen {
	--tw-bg-opacity: 1;
	background-color: rgba(72, 138, 139, var(--tw-bg-opacity));
}

.bg-black\/\[0\.7\] {
	background-color: rgba(0, 0, 0, 0.7);
}

.bg-nearBlackBlue {
	--tw-bg-opacity: 1;
	background-color: rgba(16, 16, 37, var(--tw-bg-opacity));
}

.bg-opacity-90 {
	--tw-bg-opacity: 0.9;
}

.fill-\[\#404085\] {
	fill: #404085;
}

.fill-current {
	fill: currentColor;
}

.p-\[40px\] {
	padding: 40px;
}

.p-\[20px\] {
	padding: 20px;
}

.p-\[10px\] {
	padding: 10px;
}

.px-\[20px\] {
	padding-left: 20px;
	padding-right: 20px;
}

.px-\[40px\] {
	padding-left: 40px;
	padding-right: 40px;
}

.py-\[12px\] {
	padding-top: 12px;
	padding-bottom: 12px;
}

.py-\[20px\] {
	padding-top: 20px;
	padding-bottom: 20px;
}

.px-\[30px\] {
	padding-left: 30px;
	padding-right: 30px;
}

.px-\[28px\] {
	padding-left: 28px;
	padding-right: 28px;
}

.py-\[18px\] {
	padding-top: 18px;
	padding-bottom: 18px;
}

.py-\[8px\] {
	padding-top: 8px;
	padding-bottom: 8px;
}

.px-\[10px\] {
	padding-left: 10px;
	padding-right: 10px;
}

.py-\[4px\] {
	padding-top: 4px;
	padding-bottom: 4px;
}

.py-\[55px\] {
	padding-top: 55px;
	padding-bottom: 55px;
}

.px-12 {
	padding-left: 3rem;
	padding-right: 3rem;
}

.py-\[5px\] {
	padding-top: 5px;
	padding-bottom: 5px;
}

.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.py-\[50px\] {
	padding-top: 50px;
	padding-bottom: 50px;
}

.pt-\[50px\] {
	padding-top: 50px;
}

.pb-\[280px\] {
	padding-bottom: 280px;
}

.pl-\[40px\] {
	padding-left: 40px;
}

.pr-\[20px\] {
	padding-right: 20px;
}

.pb-20 {
	padding-bottom: 5rem;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.font-manrope {
	font-family: Manrope, sans-serif;
}

.text-2xs {
	font-size: 0.75rem;
}

.text-2\.6xl {
	font-size: 1.625rem;
}

.text-ten {
	font-size: 0.625rem;
}

.text-1xs {
	font-size: 0.875rem;
}

.text-3xl {
	font-size: 2.125rem;
}

.text-normal {
	font-size: 1rem;
}

.font-bold {
	font-weight: 700;
}

.font-extrabold {
	font-weight: 800;
}

.font-normal {
	font-weight: 400;
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.leading-thirtyseven {
	line-height: 2.338rem;
}

.text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-red-500 {
	--tw-text-opacity: 1;
	color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.text-darkestBlue {
	--tw-text-opacity: 1;
	color: rgba(29, 29, 60, var(--tw-text-opacity));
}

.text-darkBlue {
	--tw-text-opacity: 1;
	color: rgba(64, 64, 133, var(--tw-text-opacity));
}

.text-black {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.text-cream {
	--tw-text-opacity: 1;
	color: rgba(254, 249, 232, var(--tw-text-opacity));
}

.text-pinky {
	--tw-text-opacity: 1;
	color: rgba(253, 183, 165, var(--tw-text-opacity));
}

.underline {
	text-decoration: underline;
}

.opacity-0 {
	opacity: 0;
}

.opacity-100 {
	opacity: 1;
}

.opacity-30 {
	opacity: 0.3;
}

.opacity-10 {
	opacity: 0.1;
}

.opacity-40 {
	opacity: 0.4;
}

.mix-blend-screen {
	mix-blend-mode: screen;
}

.shadow-xl {
	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), var(--tw-shadow);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0,0,0,0)), var(--tw-ring-shadow, 0 0 rgba(0,0,0,0)), var(--tw-shadow);
}

.outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.grayscale {
	--tw-grayscale: grayscale(100%);
	filter: var(--tw-filter);
}

.transition {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.transition-all {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.delay-1000 {
	transition-delay: 1000ms;
}

.duration-1000 {
	transition-duration: 1000ms;
}

.duration-3000 {
	transition-duration: 3000ms;
}

.duration-2000 {
	transition-duration: 2000ms;
}

.duration-300 {
	transition-duration: 300ms;
}

.duration-500 {
	transition-duration: 500ms;
}

.ease-in-out {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out {
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@font-face {
  font-family: "bodoniBold";
  src: url("/assets/fonts/CALBodoniCasale-Bold.otf");
}

@font-face {
  font-family: "bodoniHeavy";
  src: url("/assets/fonts/CALBodoniCasale-Heavy.otf");
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  -webkit-animation: spin 10s linear infinite;
}

[x-cloak] {
  display: none !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

html, body {
	overflow-x: hidden;
}

p, span {
	font-family: Manrope, sans-serif;
	font-weight: 500;
	line-height: 2rem;
}

h1 {
  font-family: "bodoniBold";
  font-size: 4.063rem;
  line-height: 3rem;
}

@media (min-width: 1280px) {

	h1 {
		line-height: 6.5rem;
	}
}

@media (min-width: 1280px) and (min-width: 768px) {

	h1 {
		font-size: 6.5rem;
	}
}

.placeName {
  font-family: "bodoniBold" !important;
  box-shadow: 0px 19px 38px -7px #000000;
  font-size: 1.625rem;
}

h3 {
  font-family: "bodoniHeavy";
  font-size: 3.375rem;
  line-height: 3.713rem;
}

h5 {
  font-family: "bodoniHeavy";
  font-size: 1.625rem;
  line-height: 3.713rem;
}

h6 {
  font-family: "bodoniHeavy";
  font-size: 2.125rem;
}

input::-moz-placeholder {
  color: white;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

input::placeholder {
  color: white;
  opacity: 1;
}

textarea::-moz-placeholder {
  color: white;
  opacity: 1;
}

textarea:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

textarea::placeholder {
  color: white;
  opacity: 1;
}

.roundedCorners4 {
  border-radius: 4px;
}

[x-cloak] {
  display: none;
}

.disappearScale {
	--tw-translate-y: -100%;
	transform: var(--tw-transform);
	transform: var(--tw-transform);
	opacity: 0;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 5000ms;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.disappearSlideDown {
	opacity: 0;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 5000ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
	--tw-text-opacity: 1;
	color: rgba(254, 249, 232, var(--tw-text-opacity));
}

.shortTrans {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.longTrans {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 1000ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*AUDIO SVG GIF*/

.wrapper {
  height: 100vh;
  background: black;
}

/*TAKE PART FORM*/

.file {
  display: none;
}

.file-name {
	background-color: transparent;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

@media (min-width: 768px) {

	.file-name {
		margin-top: 10px;
	}

	.file-name {
		margin-left: 0.5rem;
	}
}

.file-name {
  height: calc(2em + 0.75rem + 2px);
}

.formWrapper form {
  width: 100%;
}

/*CAROUSEL*/

/*AUDIO*/

.padding {
  text-align: center;
  padding: 50px;
}

.shake {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-2deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(4deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

audio {
  display: none;
}

.play-button::before,
.play-button.playing::before {
  content: "";
  display: inline-block;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 12px;
  margin-right: 10px;

  border-color: transparent transparent transparent #fff;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 6px 0 6px 8px;
}

.play-button.playing::before {
  border-style: double;
  border-width: 0px 0 0px 8px;
}

/*PERSON STORY CONTENT*/

.content p {
	--tw-text-opacity: 1;
	color: rgba(64, 64, 133, var(--tw-text-opacity));
}

/*ABOUT PAGE*/

.bardContent h1 {
	margin-bottom: 50px;
	text-align: center;
}

.bardContent h6 {
	text-align: center;
	font-size: 1.5rem;
	line-height: 3rem;
}

.bardContent p {
	text-align: center;
	font-size: 1rem;
}

/*LOADER*/

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(46, 45, 101);
  background: radial-gradient(circle, rgba(46, 45, 101, 1) 29%, rgba(29, 29, 80, 1) 100%);
  transition: 1s 0.4s;
}

#progress {
  display: none;
  height: 1px;
  background: #fdb7a5;
  position: absolute;
  width: 0;
  top: 68%;
  transition: 1s;
}

#progstat {
  font-size: 0.7em;
  letter-spacing: 3px;
  position: absolute;
  top: 68%;
  margin-top: -40px;
  width: 100%;
  text-align: center;
  color: #fdb7a5;
}

.audio-message-content {
  width: 50px;
  min-width: 300px;
  height: 56px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 2px 24px 2px 24px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  background-color: #182857;
}

.audio-message-content .play-pause-btn {
    position: relative;
    width: 40px;
    height: 42px;
    border-radius: 40px;
    cursor: pointer;
    background-color: #fff;
  }

.audio-message-content .play-pause-btn svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -6px;
    }

.spinner {
  width: 18px;
  height: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: spin 0.4s linear infinite;
          animation: spin 0.4s linear infinite;
}

.slider {
  flex-grow: 1;
  background-color: rgba(255,255,255,1);
  cursor: pointer;
  position: relative;
}

.slider .progress {
    background-color: #ffd390;
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
  }

.slider .progress .pin {
      height: 16px;
      width: 16px;
      border-radius: 8px;
      background-color: #ffd390;
      position: absolute;
      pointer-events: all;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
    }

.controls {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #55606e;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
}

.controls .slider {
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 2px;
    height: 4px;
  }

.controls .slider .progress {
      width: 0;
      height: 100%;
    }

.controls .slider .progress .pin {
        right: -8px;
        top: -6px;
      }

.controls span {
    cursor: default;
  }

svg,
img {
  display: block;
}

@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1turn);
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.images3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images3 .image-wrapper:nth-child(1) img {
        width: 180px;
        transform: rotate(-20deg) scale(1);
        z-index: 1;
        right: -50px;
        position: relative
      }

.images3 .image-wrapper:nth-child(1) img:hover {
          transform: rotate(-10deg) scale(1.8);
          z-index: 3;
        }

.images3 .image-wrapper:nth-child(2) img {
        width: 254px;
        z-index: 2;
        position: relative
      }

.images3 .image-wrapper:nth-child(2) img:hover {
          transform: rotate(5deg) scale(1.3);
          z-index: 3;
        }

.images3 .image-wrapper:nth-child(3) img {
        width: 180px;
        transform: rotate(20deg) scale(1);
        z-index: 1;
        left: -50px;
        top: 11px;
        position: relative
      }

.images3 .image-wrapper:nth-child(3) img:hover {
          transform: rotate(10deg) scale(1.8);
          z-index: 3;
        }

.images3 .image-wrapper img {
      filter: drop-shadow(0 20px 40px rgba(64, 64, 133, 0.5));
      transition: all 0.2s ease-in-out;
    }

.images2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images2 .image-wrapper:nth-child(1) img {
        width: 260px;
        transform: rotate(-10deg) scale(1);
        z-index: 2;
        right: -20px;
        top: 20px;
        position: relative
      }

.images2 .image-wrapper:nth-child(1) img:hover {
          transform: rotate(-6deg) scale(1.3);
          z-index: 3;
        }

.images2 .image-wrapper:nth-child(2) img {
        width: 220px;
        transform: rotate(10deg) scale(1);
        z-index: 1;
        left: -40px;
        top: 11px;
        position: relative
      }

.images2 .image-wrapper:nth-child(2) img:hover {
          transform: rotate(6deg) scale(1.4);
          z-index: 3;
        }

.images2 .image-wrapper img {
      filter: drop-shadow(0 20px 40px rgba(64, 64, 133, 0.5));
      transition: all 0.2s ease-in-out;
    }

.images1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images1 img {
    width: 254px;
    z-index: 2;
    position: relative;
    filter: drop-shadow(0 20px 40px rgba(64, 64, 133, 0.5));
    transition: all 0.2s ease-in-out
  }

.images1 img:hover {
      transform: rotate(5deg) scale(1.3);
      z-index: 3;
    }

.people-open #videobutton{
    z-index: 90;
  }

.people-open #nav{
    z-index: 90;
  }

.hover\:scale-110:hover {
	--tw-scale-x: 1.1;
	--tw-scale-y: 1.1;
	transform: var(--tw-transform);
}

.hover\:bg-darkBlue:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(64, 64, 133, var(--tw-bg-opacity));
}

.hover\:bg-mustard:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(254, 211, 144, var(--tw-bg-opacity));
}

.hover\:text-pink-500:hover {
	--tw-text-opacity: 1;
	color: rgba(236, 72, 153, var(--tw-text-opacity));
}

.focus\:outline-none:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.group:hover .group-hover\:-translate-y-12 {
	--tw-translate-y: -3rem;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:-translate-y-1\/2 {
	--tw-translate-y: -50%;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:translate-y-0 {
	--tw-translate-y: 0px;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:rotate-180 {
	--tw-rotate: 180deg;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:rotate-360 {
	--tw-rotate: 360deg;
	transform: var(--tw-transform);
}

.group:hover .group-hover\:bg-lighterBlue {
	--tw-bg-opacity: 1;
	background-color: rgba(122, 120, 180, var(--tw-bg-opacity));
}

.group:hover .group-hover\:fill-\[\#FEF9E8\] {
	fill: #FEF9E8;
}

.group:hover .group-hover\:text-cream {
	--tw-text-opacity: 1;
	color: rgba(254, 249, 232, var(--tw-text-opacity));
}

.group:hover .group-hover\:text-seaGreen {
	--tw-text-opacity: 1;
	color: rgba(72, 138, 139, var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-0 {
	opacity: 0;
}

.group:hover .group-hover\:opacity-100 {
	opacity: 1;
}

@media (min-width: 768px) {

	.md\:mt-\[200px\] {
		margin-top: 200px;
	}

	.md\:mb-0 {
		margin-bottom: 0px;
	}

	.md\:mt-4 {
		margin-top: 1rem;
	}

	.md\:flex {
		display: flex;
	}

	.md\:hidden {
		display: none;
	}

	.md\:h-\[calc\(100vh-420px\)\] {
		height: calc(100vh - 420px);
	}

	.md\:w-\[440px\] {
		width: 440px;
	}

	.md\:min-w-\[860px\] {
		min-width: 860px;
	}

	.md\:flex-row {
		flex-direction: row;
	}

	.md\:items-start {
		align-items: flex-start;
	}

	.md\:justify-end {
		justify-content: flex-end;
	}

	.md\:justify-between {
		justify-content: space-between;
	}

	.md\:p-\[80px\] {
		padding: 80px;
	}

	.md\:py-\[220px\] {
		padding-top: 220px;
		padding-bottom: 220px;
	}

	.md\:px-0 {
		padding-left: 0px;
		padding-right: 0px;
	}

	.md\:px-44 {
		padding-left: 11rem;
		padding-right: 11rem;
	}

	.md\:pt-\[100px\] {
		padding-top: 100px;
	}
}

@media (min-width: 1024px) {

	.lg\:z-50 {
		z-index: 50;
	}

	.lg\:z-30 {
		z-index: 30;
	}

	.lg\:mr-\[440px\] {
		margin-right: 440px;
	}

	.lg\:max-w-\[calc\(100\%-440px\)\] {
		max-width: calc(100% - 440px);
	}

	.lg\:py-0 {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

@media (min-width: 1280px) {

	.xl\:max-w-\[838px\] {
		max-width: 838px;
	}
}
