@import "tailwindcss/base";

@import "site";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: "bodoniBold";
  src: url("/assets/fonts/CALBodoniCasale-Bold.otf");
}

@font-face {
  font-family: "bodoniHeavy";
  src: url("/assets/fonts/CALBodoniCasale-Heavy.otf");
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  -webkit-animation: spin 10s linear infinite;
}

[x-cloak] {
  display: none !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

html,
body {
  @apply overflow-x-hidden;
}

p,
span {
  @apply font-manrope font-medium leading-thirtytwo;
}

h1 {
  font-family: "bodoniBold";
  @apply text-6xl xl:md:text-largestTitle  leading-fortyeight xl:leading-oneofour;
}

.placeName {
  font-family: "bodoniBold" !important;
  -webkit-box-shadow: 0px 19px 38px -7px #000000;
  box-shadow: 0px 19px 38px -7px #000000;
  @apply text-2.6xl;
}

h3 {
  font-family: "bodoniHeavy";
  @apply text-5xl leading-fiftynine;
}

h5 {
  font-family: "bodoniHeavy";
  @apply text-2.6xl leading-fiftynine;
}

h6 {
  font-family: "bodoniHeavy";
  @apply text-3xl;
}

input::placeholder {
  color: white;
  opacity: 1;
}
textarea::placeholder {
  color: white;
  opacity: 1;
}

.roundedCorners4 {
  border-radius: 4px;
}

[x-cloak] {
  display: none;
}

.disappearScale {
  @apply transition-all duration-5000 ease-out transform -translate-y-full opacity-0;
}

.disappearSlideDown {
  @apply transition-all duration-5000 ease-in-out opacity-0;
}

* {
  @apply text-cream;
}

.shortTrans {
  @apply transition-all duration-300 ease-in-out;
}
.longTrans {
  @apply transition-all duration-1000 ease-in-out;
}

/*AUDIO SVG GIF*/

.wrapper {
  height: 100vh;
  background: black;
}

/*TAKE PART FORM*/
.file {
  display: none;
}
.file-name {
  @apply text-white md:mt-[10px] bg-transparent md:ml-2;
  height: calc(2em + 0.75rem + 2px);
}

.formWrapper form {
  width: 100%;
}

/*CAROUSEL*/

/*AUDIO*/

.padding {
  text-align: center;
  padding: 50px;
}

.shake {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-2deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(4deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

audio {
  display: none;
}

.play-button::before,
.play-button.playing::before {
  content: "";
  display: inline-block;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 12px;
  margin-right: 10px;

  border-color: transparent transparent transparent #fff;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 6px 0 6px 8px;
}

.play-button.playing::before {
  border-style: double;
  border-width: 0px 0 0px 8px;
}

/*PERSON STORY CONTENT*/
.content p {
  @apply text-darkBlue;
}

/*ABOUT PAGE*/
.bardContent h1 {
  @apply text-center mb-[50px];
}
.bardContent h6 {
  @apply text-2.4xl leading-fortyeight text-center;
}

.bardContent p {
  @apply text-normal text-center;
}

/*LOADER*/
#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(46, 45, 101);
  background: radial-gradient(circle, rgba(46, 45, 101, 1) 29%, rgba(29, 29, 80, 1) 100%);
  transition: 1s 0.4s;
}
#progress {
  display: none;
  height: 1px;
  background: #fdb7a5;
  position: absolute;
  width: 0;
  top: 68%;
  transition: 1s;
}
#progstat {
  font-size: 0.7em;
  letter-spacing: 3px;
  position: absolute;
  top: 68%;
  margin-top: -40px;
  width: 100%;
  text-align: center;
  color: #fdb7a5;
}

.audio-message-content {
  width: 50px;
  min-width: 300px;
  height: 56px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 2px 24px 2px 24px;
  user-select: none;
  -webkit-user-select: none;
  background-color: #182857;

  .play-pause-btn {
    position: relative;
    width: 40px;
    height: 42px;
    border-radius: 40px;
    cursor: pointer;
    background-color: #fff;
    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -6px;
    }
  }
}

.spinner {
  width: 18px;
  height: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  animation: spin 0.4s linear infinite;
}

.slider {
  flex-grow: 1;
  background-color: #ffff;
  cursor: pointer;
  position: relative;

  .progress {
    background-color: #ffd390;
    border-radius: inherit;
    position: absolute;
    pointer-events: none;

    .pin {
      height: 16px;
      width: 16px;
      border-radius: 8px;
      background-color: #ffd390;
      position: absolute;
      pointer-events: all;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
    }
  }
}

.controls {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #55606e;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;

  .slider {
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 2px;
    height: 4px;

    .progress {
      width: 0;
      height: 100%;

      .pin {
        right: -8px;
        top: -6px;
      }
    }
  }

  span {
    cursor: default;
  }
}

svg,
img {
  display: block;
}

@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1turn);
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.images3 {
  display: flex;
  justify-content: center;
  align-items: center;
  .image-wrapper {
    &:nth-child(1) {
      img {
        width: 180px;
        transform: rotate(-20deg) scale(1);
        z-index: 1;
        right: -50px;
        position: relative;
        &:hover {
          transform: rotate(-10deg) scale(1.8);
          z-index: 3;
        }
      }
    }
    &:nth-child(2) {
      img {
        width: 254px;
        z-index: 2;
        position: relative;
        &:hover {
          transform: rotate(5deg) scale(1.3);
          z-index: 3;
        }
      }
    }
    &:nth-child(3) {
      img {
        width: 180px;
        transform: rotate(20deg) scale(1);
        z-index: 1;
        left: -50px;
        top: 11px;
        position: relative;
        &:hover {
          transform: rotate(10deg) scale(1.8);
          z-index: 3;
        }
      }
    }
    img {
      filter: drop-shadow(0 20px 40px rgba(64, 64, 133, 0.5));
      transition: all 0.2s ease-in-out;
    }
  }
}

.images2 {
  display: flex;
  justify-content: center;
  align-items: center;
  .image-wrapper {
    &:nth-child(1) {
      img {
        width: 260px;
        transform: rotate(-10deg) scale(1);
        z-index: 2;
        right: -20px;
        top: 20px;
        position: relative;
        &:hover {
          transform: rotate(-6deg) scale(1.3);
          z-index: 3;
        }
      }
    }

    &:nth-child(2) {
      img {
        width: 220px;
        transform: rotate(10deg) scale(1);
        z-index: 1;
        left: -40px;
        top: 11px;
        position: relative;
        &:hover {
          transform: rotate(6deg) scale(1.4);
          z-index: 3;
        }
      }
    }
    img {
      filter: drop-shadow(0 20px 40px rgba(64, 64, 133, 0.5));
      transition: all 0.2s ease-in-out;
    }
  }
}

.images1 {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 254px;
    z-index: 2;
    position: relative;
    filter: drop-shadow(0 20px 40px rgba(64, 64, 133, 0.5));
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: rotate(5deg) scale(1.3);
      z-index: 3;
    }
  }
}


.people-open{
  #videobutton{
    z-index: 90;
  }
  #nav{
    z-index: 90;
  }
}