<template>

    <div class="mt-[40px]">
      <div
        class="audio_btn cursor-pointer flex justify-center rounded-full max-w-max items-center gap-x-[10px] w-[300px]"
        :class="isActive ? 'bg-darkBlue' : 'bg-pinky'">
        
        <audio
          v-bind:src="audiourl.url" 
          :id="audiourl.id"
          ref="audio"
          @timeupdate="onPlaying"
        >
          Your browser does not support the
          <code>audio</code> element.
        </audio>
  
      <div>
      <button @click="this.$emit('audio-playing', audiourl.id);" v-show="!isActive" class="flex flex-row items-center justify-center cursor-pointer flex px-[28px] py-[18px]" >
          <div class="relative'  w-[29px] h-[29px] ">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 30 30" style=" fill:#404085;">
                <path
                  d="M 6.984375 3.9863281 A 1.0001 1.0001 0 0 0 6 5 L 6 25 A 1.0001 1.0001 0 1 0 8 25 L 8 5 A 1.0001 1.0001 0 0 0 6.984375 3.9863281 z M 22.984375 3.9863281 A 1.0001 1.0001 0 0 0 22 5 L 22 25 A 1.0001 1.0001 0 1 0 24 25 L 24 5 A 1.0001 1.0001 0 0 0 22.984375 3.9863281 z M 2.984375 7.9863281 A 1.0001 1.0001 0 0 0 2 9 L 2 21 A 1.0001 1.0001 0 1 0 4 21 L 4 9 A 1.0001 1.0001 0 0 0 2.984375 7.9863281 z M 10.984375 8.9863281 A 1.0001 1.0001 0 0 0 10 10 L 10 20 A 1.0001 1.0001 0 1 0 12 20 L 12 10 A 1.0001 1.0001 0 0 0 10.984375 8.9863281 z M 18.984375 8.9863281 A 1.0001 1.0001 0 0 0 18 10 L 18 20 A 1.0001 1.0001 0 1 0 20 20 L 20 10 A 1.0001 1.0001 0 0 0 18.984375 8.9863281 z M 26.984375 10.986328 A 1.0001 1.0001 0 0 0 26 12 L 26 18 A 1.0001 1.0001 0 1 0 28 18 L 28 12 A 1.0001 1.0001 0 0 0 26.984375 10.986328 z M 14.984375 11.986328 A 1.0001 1.0001 0 0 0 14 13 L 14 17 A 1.0001 1.0001 0 1 0 16 17 L 16 13 A 1.0001 1.0001 0 0 0 14.984375 11.986328 z">
                </path>
              </svg>
            </div>
            <p class=" ml-4 uppercase text-darkBlue font-manrope font-bold transition -mt-1">{{btnTitle}} </p>
      </button>
      <button  v-show="isActive" class="flex flex-row items-center justify-center cursor-pointer flex px-[28px] py-[18px]">
          <div class="relative  w-[29px] h-[29px] " @click="pause">
              <img width="32" src="/assets/placeholders/gifs/ezgif.com-gif-maker.gif"
                alt="">
          </div>
              <input
                  type="range"
                  min="0"
                  max="100"
                  step="1"
                  v-model="seekValue"
                  @change="onSeek"
                  class="ml-4"
              />
              <button @click="this.$emit('audio-playing', audiourl.id);">play</button>
              <button @click="pause">pause</button>
              <button @click="stop">stop</button>

      </button>

    </div>


    </div>
</div>



</template>

<script>
import { onBeforeUpdate,
  reactive,
  ref,} from "vue";

export default {
  name: "AudioButton",
  props: {
      id: String,
      audiourl: String,
      btnTitle: String,
      audioSelected: String,
  },
  setup() {
    const audio = ref([]);


    return {
      audio,
    };
  },

  data() {
    return {
      currentTime: 0,
      length: 0,
      seekValue: 0,
      isActive: false,
      currentTrack: null
    };
  },
  beforeCreate() {
    console.log('BEFORE CREATE: ', this.$data);
    console.log('BTN audioSelected: ', this.audioSelected);
    this.isActive = false;
  },
  methods: {
    play() {

    },




    pause() {
      this.audio.pause();
    },
    stop() {
      this.audio.pause();
      this.audio.currentTime = 0;
    },
    setSpeed(speed) {
      this.audio.playbackRate = speed;
    },
    onPlaying() {
      this.currentTime = this.audio.currentTime;
      this.seekValue = (this.audio.currentTime / this.audio.duration) * 100;
    },
    onSeek() {
      const seekto = this.audio.duration * (this.seekValue / 100);
      this.audio.currentTime = seekto;
    },
    resetplayer() {
      this.pause()
      this.isActive = false;
    },
  },
  watch: { 
    audioSelected: function(newVal, oldVal) { // watch it
      if(newVal != this.id) {
        this.resetplayer()
      } else{
      this.audio.play();
      const seekto = this.audio.duration ;
      this.isActive = true;
      this.length = seekto;
      }

    }
  }
};
</script>