<template>


    <div class="" v-for="county in counties">
        
        <div :strength="50" :key="county.id"  class="absolute"  :style="{top:county.top + '%',left:county.left+'%'}"> 
            <button 
                @click="$emit('selected-county', county)"
                class="flex flex-col justify-center items-center showPeopleListBtn hover:scale-110 shortTrans">
               <kinesis-element :strength="50" :originY="60"  >
                <img class="countyPersonImage transform -translate-y-4"
                    :style="{width:county.width + 'px'}"
                    v-bind:src="county.image.url" alt="" />
                </kinesis-element>

                <kinesis-element :strength="15">    
                <span 
                    class="placeName transform translate-y-4 opacity-0 bg-black py-[8px] px-[20px] -top-16 ">
                    {{county.title}} 
                </span>
                </kinesis-element>
            </button>
        </div>

</div>


</template>
<script>

export default {
    name: 'Counties',
    props: {
        counties: Array
    },
}
    
</script>
