<template>
  <div
    id="personList"
    class="
      md:w-[440px]
      w-full
      bg-cream
      h-screen
      fixed
      right-0
      lg:z-50
      z-30
      p-[20px]
      overflow-scroll
    "
    x-transition:enter="transition duration-1000"
    x-transition:enter-start="transform translate-x-full"
    x-transition:enter-end="transform translate-x-0"
    x-transition:leave="transition duration-1000"
    x-transition:leave-start="transform"
    x-transition:leave-end="transform translate-x-full"
  >
    <svg
      @click="$emit('show-person', false)"
      class="absolute cursor-pointer top-[20px] right-[20px]"
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.85806 1.70306e-05L0.443848 1.41423L6.8078 7.77818L0.443848 14.1421L1.85806 15.5563L8.22201 9.1924L14.586 15.5564L16.0002 14.1422L9.63623 7.77818L16.0002 1.41421L14.586 0L8.22201 6.36397L1.85806 1.70306e-05Z"
        fill="#404085"
      />
    </svg>
    <h3 class="text-darkBlue">{{ countytitle }}</h3>
    <ul
      :key="person.id"
      v-for="person in people"
      class="mt-[20px] flex flex-col gap-y-[20px]"
    >
      <Person
        @show-person="$emit('show-person', person.id)"
        :person="person"
        :personID="personID"
      />
    </ul>
  </div>
</template>
<script>
import Person from "./Person";

export default {
  name: "People",

  props: {
    countytitle: String,
    people: Array,
    personID: String,
  },
  components: {
    Person,
  },
};
</script>
