<template>
  <h3 class="text-black"></h3>
  <li
    @click="$emit('show-person', person.id)"
    class="
      
      px-[10px]
      py-[20px]
      flex
      gap-x-[20px]
      roundedCorners4
      relative
      personList
      shortTrans
      hover:bg-darkBlue
      group
      cursor-pointer
    "
    :class="isActive ? 'bg-darkBlue' : 'bg-darkerCream'"
  >
    <div class="openBtn w-full flex">
      <div class="relative w-[57px] h-[57px]">
        <div
          class="
            w-[57px]
            h-[57px]
            bg-redy
            rounded-full
            absolute
            transform
            translate-x-1 translate-y-1
          "
        ></div>
        <img style="background-size: cover; background-repeat: no-repeat; background-position: center;"
            class="w-[57px] h-[57px] rounded-full absolute grayscale"
            v-bind:src="'/img' + person.person_profile_image.url +'?w=57&h=57&fit=crop'" alt="" />

      </div>

      <div class="ml-[20px] max-w-[calc(100%-90px)]">
        <div>
          <h6
            class="
              text-darkBlue
              group-hover:text-cream
              shortTrans
              max-w-max
              text-2.6xl
              cursor-pointer
            "
            :class="isActive ? 'text-cream' : 'text-darkBlue'"
          >
            {{ person.title }}
          </h6>
        </div>

        <div class="flex items-center">
          <svg
            class="mr-1 fill-[#404085] group-hover:fill-[#FEF9E8] shortTrans"
             :class="isActive ? 'text-cream' : 'text-darkBlue'"
            width="10"
            height="13"
            viewBox="0 0 10 13"
          >
            <path
              d="M4.63859 0.556396C2.08088 0.556396 0 2.63727 0 5.19504C0 6.48813 0.707035 8.04991 2.10152 9.83706C3.0975 11.1135 4.0818 12.0365 4.12323 12.0752L4.63865 12.5564L5.15406 12.0752C5.19549 12.0365 6.17979 11.1135 7.17577 9.83706C8.57021 8.04991 9.27729 6.48813 9.27729 5.19504C9.27724 2.63727 7.19636 0.556396 4.63859 0.556396ZM4.63859 6.69571C3.81113 6.69571 3.13793 6.02251 3.13793 5.19504C3.13793 4.36758 3.81113 3.69437 4.63859 3.69437C5.46606 3.69437 6.13926 4.36758 6.13926 5.19504C6.13926 6.02251 5.46606 6.69571 4.63859 6.69571Z"
            />
          </svg>
          <p
            class="
              text-darkBlue text-2xs
              font-manrope
              group-hover:text-cream
              shortTrans
              capitalize
            "
             :class="isActive ? 'text-cream' : 'text-darkBlue'"
          >
            {{ person.town }}, Co. {{ person.county.value }}
          </p>
          <p
            class="
              text-darkBlue text-2xs
              font-manrope
              ml-2
              group-hover:text-cream
              shortTrans
            "
             :class="isActive ? 'text-cream' : 'text-darkBlue'"
          >
            Age {{ person.age }}
          </p>
        </div>
        
        <div class="w-full flex flex-wrap">

        

            <div class="w-fit mr-1" :key="tag.id" v-for="tag in person.story_tags">
            
                <span
                    class="
                    bg-cream
                    group-hover:bg-lighterBlue group-hover:text-cream
                    shortTrans
                    px-[10px]
                    py-[4px]
                    rounded-full
                    text-darkBlue 
                    text-ten
                    font-manrope
                    uppercase
                    "
                     :class="isActive ? 'bg-lighterBlue text-cream' : 'bg-cream text-darkBlue'"
                    >
                    {{ tag.title }}
                </span>
            </div>
            
        </div>
      </div>
    </div>
  </li>
</template>

<script>
export default {
  name: "Person",
  props: {
    person: Object,
    personID: String,
  },
  data() {
    return {
      isActive: false,
    };
  },
  watch: { 
    personID: function(newVal, oldVal) { // watch it
      
      if(newVal != this.person.id) {
        this.isActive = false;
      } else{
        this.isActive = true;
      }

    }
  }
};
</script>
