<template>
  <div
    style="overflow: scroll"
    id="storyDetail"
    class="
      xl:max-w-[838px]
      lg:max-w-[calc(100%-440px)]
      w-screen
      px-[20px]
      py-[55px]
      bg-darkerCream
      h-full
      z-40
      fixed
      top-0
      right-0
      lg:mr-[440px]
      storyDetail
      lg:z-30
      z-50
      
    "
    x-transition:enter="transition duration-1000"
    x-transition:enter-start="transform translate-x-[100rem]"
    x-transition:enter-end="transform translate-x-0"
    x-transition:leave="transition duration-1000"
    x-transition:leave-start="transform"
    x-transition:leave-end="transform translate-x-[100rem]"
  >
    <Transition>
      <div v-if="showdetails">
        <svg
          @click="$emit('close-detail', false)"
          class="cursor-pointer closeBtn absolute top-[20px] right-[20px]"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.85806 1.70306e-05L0.443848 1.41423L6.8078 7.77818L0.443848 14.1421L1.85806 15.5563L8.22201 9.1924L14.586 15.5564L16.0002 14.1422L9.63623 7.77818L16.0002 1.41421L14.586 0L8.22201 6.36397L1.85806 1.70306e-05Z"
            fill="#404085"
          />
        </svg>

        <div class="flex justify-center flex-col items-center">
          <h1 class="text-center text-darkBlue max-w-[88%] ">{{ setPerson.title }}</h1>
          <div class="">
            <div
              v-if="setPerson.main_audio"
              class="
                audio_btn
                cursor-pointer
                flex
                justify-center
                rounded-full
                max-w-max
                items-center
                gap-x-[10px]
                w-[300px]
              "
            >
              <AudioButton
                @audio-playing="audioPlaying"
                :audiourl="setPerson.main_audio"
                :audioSelected="audioSelected"
                :id="setPerson.main_audio.id"
                btnTitle="Listen to the story"
              />
            </div>
          </div>

          <div class="flex items-center mt-[40px]">
            <svg
              class="mr-1"
              width="12"
              height="16"
              viewBox="0 0 10 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.63859 0.556396C2.08088 0.556396 0 2.63727 0 5.19504C0 6.48813 0.707035 8.04991 2.10152 9.83706C3.0975 11.1135 4.0818 12.0365 4.12323 12.0752L4.63865 12.5564L5.15406 12.0752C5.19549 12.0365 6.17979 11.1135 7.17577 9.83706C8.57021 8.04991 9.27729 6.48813 9.27729 5.19504C9.27724 2.63727 7.19636 0.556396 4.63859 0.556396ZM4.63859 6.69571C3.81113 6.69571 3.13793 6.02251 3.13793 5.19504C3.13793 4.36758 3.81113 3.69437 4.63859 3.69437C5.46606 3.69437 6.13926 4.36758 6.13926 5.19504C6.13926 6.02251 5.46606 6.69571 4.63859 6.69571Z"
                fill="#404085"
              />
            </svg>
            <p class="text-darkBlue text-1xs font-manrope capitalize">
              {{ setPerson.town }}, Co. {{ countytitle }}
            </p>

            <p class="text-darkBlue text-1xs font-manrope ml-2">
              |  Age {{ setPerson.age }}
            </p>
          </div>

          <!--CAROUSEL-->
          <div
            class="
              relative
              flex
              w-full
              items-center
              my-[80px]
              h-[314px]
              px-[40px]
            "
            :class="'images' + setPerson.images.length"
          >
            <div
              :key="image.id"
              v-for="image in setPerson.images"
              class="image-wrapper"
            >
                <img
                  
                  v-bind:src="'/img' + image.url + '?w=300&h=400&fit=crop'"
                  alt=""
                />
              
            </div>
          </div>

          <!--CONTENT-->
          <div class="px-[40px] mt-[40px]">
            <div
              class="text-center content text-darkBlue"
              v-html="setPerson.content"
            ></div>
            <div class="mt-[80px]">
              <h3 class="mb-[40px] text-darkBlue">Highlights</h3>

              <div class="flex flex-col gap-y-[20px]">
                <div
                  class="bg-cream p-[40px] rounded flex flex-col md:flex-row justify-start md:justify-between"
                  :key="highlight.id"
                  v-for="highlight in setPerson.audio_highlights"
                >
                  <div class="mr-4">
                    <h5 class="text-darkBlue">
                      {{ highlight.audio_highlight_title }}
                    </h5>
                    <p class="text-darkBlue">
                      {{ highlight.audio_highlight_text }}
                    </p>
                  </div>
                  <div
                    v-if="highlight.audio_highlight_file"
                    class="flex items-center"
                  >
                    <AudioButton
                      @audio-playing="audioPlaying"
                      :audiourl="highlight.audio_highlight_file"
                      :audioSelected="audioSelected"
                      :id="highlight.audio_highlight_file.id"
                      btnTitle="Listen"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Transition>
  </div>
</template>
<script>
import AudioButton from "./AudioButton";
export default {
  name: "PersonDetails",
  props: {
    countytitle: String,
    setPerson: Array,
    personID: String,
  },
  data() {
    return {
      audioSelected: null,
      show: true,
      showdetails: false,
    };
  },
  components: {
    AudioButton,
  },
  methods: {
    async audioPlaying(id) {
      this.audioSelected = id;
    },
    settoshow() {
      console.log("Prop changed: ");
      setTimeout(() => (this.showdetails = true), 200);
    },
  },
  watch: {
    personID: function (newVal, oldVal) {
      // watch it
      console.log("Prop changed: ", newVal, " | was: ", oldVal);
      (this.audioSelected = null), (this.showdetails = false);
      setTimeout(() => this.settoshow(), 200);
    },
  },
};
</script>
