{{ partial:components/nav showLogo="true"}}


{{ partial:components/mapModal }}




  <div x-data="{showPeople: false}" class=" w-8/12 relative">
    {{ partial:components/storiesPersonList }}
  </div>





<script>




</script>